<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5"></div>
            <!--<button class="btn btn-outline-primary" (click)="exportAsXLSX()"><i class="fa fa-plus-circle"></i>&nbsp;Export To Excel </button>-->
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-outline-primary" (click)="redirectToAddNew()"><i class="fa fa-plus-circle"></i>&nbsp; Add New </button>
        </div>
    </div>
</div>

<ejs-grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
          [allowFiltering]="true" [allowGrouping]="true" [pageSettings]='pageSettings'>
    <e-columns>
        <e-column field='OrderID' headerText='Order ID' textAlign='Right' width=90></e-column>
        <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
        <e-column field='Freight' headerText='Freight' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='OrderDate' headerText='Order Date' textAlign='Right' format='yMd' width=120></e-column>
    </e-columns>
</ejs-grid>