<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <strong>Services Details</strong>
            <!--<small>Form</small>-->
        </div>
        <div>
            <form [formGroup]="servicesForm" (ngSubmit)="onSubmit(servicesForm.value)">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Owner Name :</strong></label>
                                <p-autoComplete formControlName="OwnerName" [suggestions]="ownernameList" (completeMethod)="searchOwnerName($event)"
                                                 [dropdown]="true" [forceSelection]="true" field="SalonOwnerName"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Shop Location :</strong></label>
                                <p-autoComplete formControlName="ShopLocation" [suggestions]="shoplocationList" (completeMethod)="searchShopLocation($event)"
                                                [dropdown]="true" [forceSelection]="true" field="ShopName"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Service Category :</strong></label>
                                <span class="ui-fluid">
                                    <p-autoComplete formControlName="CategoryName" [suggestions]="categorynameList" (completeMethod)="searchCategoryName($event)"
                                                    [dropdown]="true" [forceSelection]="true" field="CategoryName"></p-autoComplete>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Service Name :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="ServiceName" appValidationBorder type="text" pInputText id="servicename" name="servicename" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Service Description :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="ServiceDescription" appValidationBorder type="text" pInputText id="servicedescription" name="servicedescription" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Service Cost :</strong></label>
                                <input formControlName="ServiceCost" appValidationBorder type="text" pInputText id="servicecost" name="servicecost" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Service Duration :</strong></label>
                                <input formControlName="ServiceDuration" appValidationBorder type="text" pInputText id="serviceduration" name="serviceduration" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Gender :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <select formControlName="Gender" appValidationBorder id="select" name="select" class="form-control">
                                            <option value="Please select">Please select</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Commission Percentage :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="CommissionPercentage" appValidationBorder type="text" pInputText id="commissionpercentage" name="commissionpercentage" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group-btn" dropdown>
                    <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
                </div>
            </form>
        </div>
    </div>
</div>
