<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <strong>Saloon Shop Details</strong>
            <!--<small>Form</small>-->
        </div>
        <div>
            <form [formGroup]="saloonForm" (ngSubmit)="onSubmit(saloonForm.value)">
                <div class="row">
                    <!--<div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>ShopLocation Id :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="ShopLocationId" appValidationBorder type="text" pInputText id="shoplocationid" name="shoplocationid" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-8">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>Shop Name :</strong></label>
                                <input formControlName="ShopName" appValidationBorder type="text" pInputText id="shopname" name="shopname" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Locality :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="Locality" type="text" pInputText id="locality" name="locality" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Shop Address1 :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="ShopAddress1" appValidationBorder type="text" pInputText id="shopaddress1" name="shopaddress1" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>Shop Address2 :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="ShopAddress2" appValidationBorder type="text" pInputText id="shopaddress2" name="shopaddress2" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="select"><strong>City :</strong></label>
                                <input formControlName="City" appValidationBorder type="text" pInputText id="city" name="city" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>State:</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="State" appValidationBorder type="text" pInputText id="state" name="state" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>PinCode:</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="PinCode" appValidationBorder type="text" pInputText id="pincode" name="pincode" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>CGST :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="Cgst" type="text" pInputText id="cgst" name="cgst" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-block">
                            <div class="form-group">
                                <label for="textarea-input"><strong>SGST :</strong></label>
                                <div>
                                    <span class="ui-float-label">
                                        <input formControlName="Sgst" type="text" pInputText id="sgst" name="sgst" class="form-control">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group-btn" dropdown>
                    <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
                </div>
            </form>
        </div>
    </div>
</div>
