<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5"></div>
            <!--<button class="btn btn-outline-primary" (click)="exportAsXLSX()"><i class="fa fa-plus-circle"></i>&nbsp;Export To Excel </button>-->
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-outline-primary" (click)="redirectToAddNew()"><i class="fa fa-plus-circle"></i>&nbsp; Add New </button>
        </div>
    </div>
</div>

<ejs-grid [dataSource]='rowData' [allowPaging]="true" [allowSorting]="true"
          [allowFiltering]="true" [allowGrouping]="true" [pageSettings]='pageSettings'>
    <e-columns>
        <e-column field='AppointmentId' headerText='Sr. No.' width='80'></e-column>
        <e-column field='SalonOwnerName' headerText='Salon Owner Name' width='160'></e-column>
        <e-column field='ShopName' headerText='Shop Name' width='160'></e-column>
        <e-column field='CustomerMobile' headerText='Customer Mobile' width='120'></e-column>
        <e-column field='RelationType' headerText='Relation Type' width='140'></e-column>
        <e-column field='AppointmentDate' headerText='Appointment Date' width='120'></e-column>
        <e-column field='AppointmentTime' headerText='Appointment Time' width='120'></e-column>
        <e-column field='ServiceName' headerText='Service Name' width='160'></e-column>
    </e-columns>
</ejs-grid>
 
